
.text-xs-center{

  text-align: center;

}

.text-xs-left{

  text-align: left;

}

.text-xs-right{

  text-align: right;

}

.p-xs-0{

  padding:0px;

}

.p-xs-1{

  padding:1px;

}

.p-xs-2{

  padding:2px;

}

.p-xs-3{

  padding:3px;

}

.p-xs-4{

  padding:4px;

}

.p-xs-5{

  padding:5px;

}

.p-xs-6{

  padding:6px;

}

.p-xs-7{

  padding:7px;

}

.p-xs-8{

  padding:8px;

}

.p-xs-9{

  padding:9px;

}

.p-xs-10{

  padding:10px;

}

.p-xs-11{

  padding:11px;

}

.p-xs-12{

  padding:12px;

}

.p-xs-13{

  padding:13px;

}

.p-xs-14{

  padding:14px;

}

.p-xs-15{

  padding:15px;

}

.pl-xs-0{

  padding-left:0px;

}

.pl-xs-1{

  padding-left:1px;

}

.pl-xs-2{

  padding-left:2px;

}

.pl-xs-3{

  padding-left:3px;

}

.pl-xs-4{

  padding-left:4px;

}

.pl-xs-5{

  padding-left:5px;

}

.pl-xs-6{

  padding-left:6px;

}

.pl-xs-7{

  padding-left:7px;

}

.pl-xs-8{

  padding-left:8px;

}

.pl-xs-9{

  padding-left:9px;

}

.pl-xs-10{

  padding-left:10px;

}

.pl-xs-11{

  padding-left:11px;

}

.pl-xs-12{

  padding-left:12px;

}

.pl-xs-13{

  padding-left:13px;

}

.pl-xs-14{

  padding-left:14px;

}

.pl-xs-15{

  padding-left:15px;

}

.pt-xs-0{

  padding-top:0px;

}

.pt-xs-1{

  padding-top:1px;

}

.pt-xs-2{

  padding-top:2px;

}

.pt-xs-3{

  padding-top:3px;

}

.pt-xs-4{

  padding-top:4px;

}

.pt-xs-5{

  padding-top:5px;

}

.pt-xs-6{

  padding-top:6px;

}

.pt-xs-7{

  padding-top:7px;

}

.pt-xs-8{

  padding-top:8px;

}

.pt-xs-9{

  padding-top:9px;

}

.pt-xs-10{

  padding-top:10px;

}

.pt-xs-11{

  padding-top:11px;

}

.pt-xs-12{

  padding-top:12px;

}

.pt-xs-13{

  padding-top:13px;

}

.pt-xs-14{

  padding-top:14px;

}

.pt-xs-15{

  padding-top:15px;

}

.pb-xs-0{

  padding-bottom:0px;

}

.pb-xs-1{

  padding-bottom:1px;

}

.pb-xs-2{

  padding-bottom:2px;

}

.pb-xs-3{

  padding-bottom:3px;

}

.pb-xs-4{

  padding-bottom:4px;

}

.pb-xs-5{

  padding-bottom:5px;

}

.pb-xs-6{

  padding-bottom:6px;

}

.pb-xs-7{

  padding-bottom:7px;

}

.pb-xs-8{

  padding-bottom:8px;

}

.pb-xs-9{

  padding-bottom:9px;

}

.pb-xs-10{

  padding-bottom:10px;

}

.pb-xs-11{

  padding-bottom:11px;

}

.pb-xs-12{

  padding-bottom:12px;

}

.pb-xs-13{

  padding-bottom:13px;

}

.pb-xs-14{

  padding-bottom:14px;

}

.pb-xs-15{

  padding-bottom:15px;

}

.pr-xs-0{

  padding-right:0px;

}

.pr-xs-1{

  padding-right:1px;

}

.pr-xs-2{

  padding-right:2px;

}

.pr-xs-3{

  padding-right:3px;

}

.pr-xs-4{

  padding-right:4px;

}

.pr-xs-5{

  padding-right:5px;

}

.pr-xs-6{

  padding-right:6px;

}

.pr-xs-7{

  padding-right:7px;

}

.pr-xs-8{

  padding-right:8px;

}

.pr-xs-9{

  padding-right:9px;

}

.pr-xs-10{

  padding-right:10px;

}

.pr-xs-11{

  padding-right:11px;

}

.pr-xs-12{

  padding-right:12px;

}

.pr-xs-13{

  padding-right:13px;

}

.pr-xs-14{

  padding-right:14px;

}

.pr-xs-15{

  padding-right:15px;

}

/* Margin Başlangıc*/


  .m-xs-0{

    margin:0px;

  }

  .m-xs-1{

    margin:1px;

  }

  .m-xs-2{

    margin:2px;

  }

  .m-xs-3{

    margin:3px;

  }

  .m-xs-4{

    margin:4px;

  }

  .m-xs-5{

    margin:5px;

  }

  .m-xs-6{

    margin:6px;

  }

  .m-xs-7{

    margin:7px;

  }

  .m-xs-8{

    margin:8px;

  }

  .m-xs-9{

    margin:9px;

  }

  .m-xs-10{

    margin:10px;

  }

  .m-xs-11{

    margin:11px;

  }

  .m-xs-12{

    margin:12px;

  }

  .m-xs-13{

    margin:13px;

  }

  .m-xs-14{

    margin:14px;

  }

  .m-xs-15{

    margin:15px;

  }

  .ml-xs-0{

    margin-left:0px;

  }

  .ml-xs-1{

    margin-left:1px;

  }

  .ml-xs-2{

    margin-left:2px;

  }

  .ml-xs-3{

    margin-left:3px;

  }

  .ml-xs-4{

    margin-left:4px;

  }

  .ml-xs-5{

    margin-left:5px;

  }

  .ml-xs-6{

    margin-left:6px;

  }

  .ml-xs-7{

    margin-left:7px;

  }

  .ml-xs-8{

    margin-left:8px;

  }

  .ml-xs-9{

    margin-left:9px;

  }

  .ml-xs-10{

    margin-left:10px;

  }

  .ml-xs-11{

    margin-left:11px;

  }

  .ml-xs-12{

    margin-left:12px;

  }

  .ml-xs-13{

    margin-left:13px;

  }

  .ml-xs-14{

    margin-left:14px;

  }

  .ml-xs-15{

    margin-left:15px;

  }

  .mt-xs-0{

    margin-top:0px;

  }

  .mt-xs-1{

    margin-top:1px;

  }

  .mt-xs-2{

    margin-top:2px;

  }

  .mt-xs-3{

    margin-top:3px;

  }

  .mt-xs-4{

    margin-top:4px;

  }

  .mt-xs-5{

    margin-top:5px;

  }

  .mt-xs-6{

    margin-top:6px;

  }

  .mt-xs-7{

    margin-top:7px;

  }

  .mt-xs-8{

    margin-top:8px;

  }

  .mt-xs-9{

    margin-top:9px;

  }

  .mt-xs-10{

    margin-top:10px;

  }

  .mt-xs-11{

    margin-top:11px;

  }

  .mt-xs-12{

    margin-top:12px;

  }

  .mt-xs-13{

    margin-top:13px;

  }

  .mt-xs-14{

    margin-top:14px;

  }

  .mt-xs-15{

    margin-top:15px;

  }

  .mb-xs-0{

    margin-bottom:0px;

  }

  .mb-xs-1{

    margin-bottom:1px;

  }

  .mb-xs-2{

    margin-bottom:2px;

  }

  .mb-xs-3{

    margin-bottom:3px;

  }

  .mb-xs-4{

    margin-bottom:4px;

  }

  .mb-xs-5{

    margin-bottom:5px;

  }

  .mb-xs-6{

    margin-bottom:6px;

  }

  .mb-xs-7{

    margin-bottom:7px;

  }

  .mb-xs-8{

    margin-bottom:8px;

  }

  .mb-xs-9{

    margin-bottom:9px;

  }

  .mb-xs-10{

    margin-bottom:10px;

  }

  .mb-xs-11{

    margin-bottom:11px;

  }

  .mb-xs-12{

    margin-bottom:12px;

  }

  .mb-xs-13{

    margin-bottom:13px;

  }

  .mb-xs-14{

    margin-bottom:14px;

  }

  .mb-xs-15{

    margin-bottom:15px;

  }

  .mr-xs-0{

    margin-right:0px;

  }

  .mr-xs-1{

    margin-right:1px;

  }

  .mr-xs-2{

    margin-right:2px;

  }

  .mr-xs-3{

    margin-right:3px;

  }

  .mr-xs-4{

    margin-right:4px;

  }

  .mr-xs-5{

    margin-right:5px;

  }

  .mr-xs-6{

    margin-right:6px;

  }

  .mr-xs-7{

    margin-right:7px;

  }

  .mr-xs-8{

    margin-right:8px;

  }

  .mr-xs-9{

    margin-right:9px;

  }

  .mr-xs-10{

    margin-right:10px;

  }

  .mr-xs-11{

    margin-right:11px;

  }

  .mr-xs-12{

    margin-right:12px;

  }

  .mr-xs-13{

    margin-right:13px;

  }

  .mr-xs-14{

    margin-right:14px;

  }

  .mr-xs-15{

    margin-right:15px;

  }



@media (min-width: 768px) {

  .text-sm-center{

    text-align: center;

  }

  .text-sm-left{

    text-align: left;

  }

  .text-sm-right{

    text-align: right;

  }

  .p-sm-0{

    padding:0px;

  }

  .p-sm-1{

    padding:1px;

  }

  .p-sm-2{

    padding:2px;

  }

  .p-sm-3{

    padding:3px;

  }

  .p-sm-4{

    padding:4px;

  }

  .p-sm-5{

    padding:5px;

  }

  .p-sm-6{

    padding:6px;

  }

  .p-sm-7{

    padding:7px;

  }

  .p-sm-8{

    padding:8px;

  }

  .p-sm-9{

    padding:9px;

  }

  .p-sm-10{

    padding:10px;

  }

  .p-sm-11{

    padding:11px;

  }

  .p-sm-12{

    padding:12px;

  }

  .p-sm-13{

    padding:13px;

  }

  .p-sm-14{

    padding:14px;

  }

  .p-sm-15{

    padding:15px;

  }

  .pl-sm-0{

    padding-left:0px;

  }

  .pl-sm-1{

    padding-left:1px;

  }

  .pl-sm-2{

    padding-left:2px;

  }

  .pl-sm-3{

    padding-left:3px;

  }

  .pl-sm-4{

    padding-left:4px;

  }

  .pl-sm-5{

    padding-left:5px;

  }

  .pl-sm-6{

    padding-left:6px;

  }

  .pl-sm-7{

    padding-left:7px;

  }

  .pl-sm-8{

    padding-left:8px;

  }

  .pl-sm-9{

    padding-left:9px;

  }

  .pl-sm-10{

    padding-left:10px;

  }

  .pl-sm-11{

    padding-left:11px;

  }

  .pl-sm-12{

    padding-left:12px;

  }

  .pl-sm-13{

    padding-left:13px;

  }

  .pl-sm-14{

    padding-left:14px;

  }

  .pl-sm-15{

    padding-left:15px;

  }

  .pt-sm-0{

    padding-top:0px;

  }

  .pt-sm-1{

    padding-top:1px;

  }

  .pt-sm-2{

    padding-top:2px;

  }

  .pt-sm-3{

    padding-top:3px;

  }

  .pt-sm-4{

    padding-top:4px;

  }

  .pt-sm-5{

    padding-top:5px;

  }

  .pt-sm-6{

    padding-top:6px;

  }

  .pt-sm-7{

    padding-top:7px;

  }

  .pt-sm-8{

    padding-top:8px;

  }

  .pt-sm-9{

    padding-top:9px;

  }

  .pt-sm-10{

    padding-top:10px;

  }

  .pt-sm-11{

    padding-top:11px;

  }

  .pt-sm-12{

    padding-top:12px;

  }

  .pt-sm-13{

    padding-top:13px;

  }

  .pt-sm-14{

    padding-top:14px;

  }

  .pt-sm-15{

    padding-top:15px;

  }

  .pb-sm-0{

    padding-bottom:0px;

  }

  .pb-sm-1{

    padding-bottom:1px;

  }

  .pb-sm-2{

    padding-bottom:2px;

  }

  .pb-sm-3{

    padding-bottom:3px;

  }

  .pb-sm-4{

    padding-bottom:4px;

  }

  .pb-sm-5{

    padding-bottom:5px;

  }

  .pb-sm-6{

    padding-bottom:6px;

  }

  .pb-sm-7{

    padding-bottom:7px;

  }

  .pb-sm-8{

    padding-bottom:8px;

  }

  .pb-sm-9{

    padding-bottom:9px;

  }

  .pb-sm-10{

    padding-bottom:10px;

  }

  .pb-sm-11{

    padding-bottom:11px;

  }

  .pb-sm-12{

    padding-bottom:12px;

  }

  .pb-sm-13{

    padding-bottom:13px;

  }

  .pb-sm-14{

    padding-bottom:14px;

  }

  .pb-sm-15{

    padding-bottom:15px;

  }

  .pr-sm-0{

    padding-right:0px;

  }

  .pr-sm-1{

    padding-right:1px;

  }

  .pr-sm-2{

    padding-right:2px;

  }

  .pr-sm-3{

    padding-right:3px;

  }

  .pr-sm-4{

    padding-right:4px;

  }

  .pr-sm-5{

    padding-right:5px;

  }

  .pr-sm-6{

    padding-right:6px;

  }

  .pr-sm-7{

    padding-right:7px;

  }

  .pr-sm-8{

    padding-right:8px;

  }

  .pr-sm-9{

    padding-right:9px;

  }

  .pr-sm-10{

    padding-right:10px;

  }

  .pr-sm-11{

    padding-right:11px;

  }

  .pr-sm-12{

    padding-right:12px;

  }

  .pr-sm-13{

    padding-right:13px;

  }

  .pr-sm-14{

    padding-right:14px;

  }

  .pr-sm-15{

    padding-right:15px;

  }

  .m-sm-0{

    margin:0px;

  }

  .m-sm-1{

    margin:1px;

  }

  .m-sm-2{

    margin:2px;

  }

  .m-sm-3{

    margin:3px;

  }

  .m-sm-4{

    margin:4px;

  }

  .m-sm-5{

    margin:5px;

  }

  .m-sm-6{

    margin:6px;

  }

  .m-sm-7{

    margin:7px;

  }

  .m-sm-8{

    margin:8px;

  }

  .m-sm-9{

    margin:9px;

  }

  .m-sm-10{

    margin:10px;

  }

  .m-sm-11{

    margin:11px;

  }

  .m-sm-12{

    margin:12px;

  }

  .m-sm-13{

    margin:13px;

  }

  .m-sm-14{

    margin:14px;

  }

  .m-sm-15{

    margin:15px;

  }

  .ml-sm-0{

    margin-left:0px;

  }

  .ml-sm-1{

    margin-left:1px;

  }

  .ml-sm-2{

    margin-left:2px;

  }

  .ml-sm-3{

    margin-left:3px;

  }

  .ml-sm-4{

    margin-left:4px;

  }

  .ml-sm-5{

    margin-left:5px;

  }

  .ml-sm-6{

    margin-left:6px;

  }

  .ml-sm-7{

    margin-left:7px;

  }

  .ml-sm-8{

    margin-left:8px;

  }

  .ml-sm-9{

    margin-left:9px;

  }

  .ml-sm-10{

    margin-left:10px;

  }

  .ml-sm-11{

    margin-left:11px;

  }

  .ml-sm-12{

    margin-left:12px;

  }

  .ml-sm-13{

    margin-left:13px;

  }

  .ml-sm-14{

    margin-left:14px;

  }

  .ml-sm-15{

    margin-left:15px;

  }

  .mt-sm-0{

    margin-top:0px;

  }

  .mt-sm-1{

    margin-top:1px;

  }

  .mt-sm-2{

    margin-top:2px;

  }

  .mt-sm-3{

    margin-top:3px;

  }

  .mt-sm-4{

    margin-top:4px;

  }

  .mt-sm-5{

    margin-top:5px;

  }

  .mt-sm-6{

    margin-top:6px;

  }

  .mt-sm-7{

    margin-top:7px;

  }

  .mt-sm-8{

    margin-top:8px;

  }

  .mt-sm-9{

    margin-top:9px;

  }

  .mt-sm-10{

    margin-top:10px;

  }

  .mt-sm-11{

    margin-top:11px;

  }

  .mt-sm-12{

    margin-top:12px;

  }

  .mt-sm-13{

    margin-top:13px;

  }

  .mt-sm-14{

    margin-top:14px;

  }

  .mt-sm-15{

    margin-top:15px;

  }

  .mb-sm-0{

    margin-bottom:0px;

  }

  .mb-sm-1{

    margin-bottom:1px;

  }

  .mb-sm-2{

    margin-bottom:2px;

  }

  .mb-sm-3{

    margin-bottom:3px;

  }

  .mb-sm-4{

    margin-bottom:4px;

  }

  .mb-sm-5{

    margin-bottom:5px;

  }

  .mb-sm-6{

    margin-bottom:6px;

  }

  .mb-sm-7{

    margin-bottom:7px;

  }

  .mb-sm-8{

    margin-bottom:8px;

  }

  .mb-sm-9{

    margin-bottom:9px;

  }

  .mb-sm-10{

    margin-bottom:10px;

  }

  .mb-sm-11{

    margin-bottom:11px;

  }

  .mb-sm-12{

    margin-bottom:12px;

  }

  .mb-sm-13{

    margin-bottom:13px;

  }

  .mb-sm-14{

    margin-bottom:14px;

  }

  .mb-sm-15{

    margin-bottom:15px;

  }

  .mr-sm-0{

    margin-right:0px;

  }

  .mr-sm-1{

    margin-right:1px;

  }

  .mr-sm-2{

    margin-right:2px;

  }

  .mr-sm-3{

    margin-right:3px;

  }

  .mr-sm-4{

    margin-right:4px;

  }

  .mr-sm-5{

    margin-right:5px;

  }

  .mr-sm-6{

    margin-right:6px;

  }

  .mr-sm-7{

    margin-right:7px;

  }

  .mr-sm-8{

    margin-right:8px;

  }

  .mr-sm-9{

    margin-right:9px;

  }

  .mr-sm-10{

    margin-right:10px;

  }

  .mr-sm-11{

    margin-right:11px;

  }

  .mr-sm-12{

    margin-right:12px;

  }

  .mr-sm-13{

    margin-right:13px;

  }

  .mr-sm-14{

    margin-right:14px;

  }

  .mr-sm-15{

    margin-right:15px;

  }

}

@media (min-width: 992px) {

  .text-md-center{

    text-align: center;

  }

  .text-md-left{

    text-align: left;

  }

  .text-md-right{

    text-align: right;

  }

  .p-md-0{

    padding:0px;

  }

  .p-md-1{

    padding:1px;

  }

  .p-md-2{

    padding:2px;

  }

  .p-md-3{

    padding:3px;

  }

  .p-md-4{

    padding:4px;

  }

  .p-md-5{

    padding:5px;

  }

  .p-md-6{

    padding:6px;

  }

  .p-md-7{

    padding:7px;

  }

  .p-md-8{

    padding:8px;

  }

  .p-md-9{

    padding:9px;

  }

  .p-md-10{

    padding:10px;

  }

  .p-md-11{

    padding:11px;

  }

  .p-md-12{

    padding:12px;

  }

  .p-md-13{

    padding:13px;

  }

  .p-md-14{

    padding:14px;

  }

  .p-md-15{

    padding:15px;

  }

  .pl-md-0{

    padding-left:0px;

  }

  .pl-md-1{

    padding-left:1px;

  }

  .pl-md-2{

    padding-left:2px;

  }

  .pl-md-3{

    padding-left:3px;

  }

  .pl-md-4{

    padding-left:4px;

  }

  .pl-md-5{

    padding-left:5px;

  }

  .pl-md-6{

    padding-left:6px;

  }

  .pl-md-7{

    padding-left:7px;

  }

  .pl-md-8{

    padding-left:8px;

  }

  .pl-md-9{

    padding-left:9px;

  }

  .pl-md-10{

    padding-left:10px;

  }

  .pl-md-11{

    padding-left:11px;

  }

  .pl-md-12{

    padding-left:12px;

  }

  .pl-md-13{

    padding-left:13px;

  }

  .pl-md-14{

    padding-left:14px;

  }

  .pl-md-15{

    padding-left:15px;

  }

  .pt-md-0{

    padding-top:0px;

  }

  .pt-md-1{

    padding-top:1px;

  }

  .pt-md-2{

    padding-top:2px;

  }

  .pt-md-3{

    padding-top:3px;

  }

  .pt-md-4{

    padding-top:4px;

  }

  .pt-md-5{

    padding-top:5px;

  }

  .pt-md-6{

    padding-top:6px;

  }

  .pt-md-7{

    padding-top:7px;

  }

  .pt-md-8{

    padding-top:8px;

  }

  .pt-md-9{

    padding-top:9px;

  }

  .pt-md-10{

    padding-top:10px;

  }

  .pt-md-11{

    padding-top:11px;

  }

  .pt-md-12{

    padding-top:12px;

  }

  .pt-md-13{

    padding-top:13px;

  }

  .pt-md-14{

    padding-top:14px;

  }

  .pt-md-15{

    padding-top:15px;

  }

  .pb-md-0{

    padding-bottom:0px;

  }

  .pb-md-1{

    padding-bottom:1px;

  }

  .pb-md-2{

    padding-bottom:2px;

  }

  .pb-md-3{

    padding-bottom:3px;

  }

  .pb-md-4{

    padding-bottom:4px;

  }

  .pb-md-5{

    padding-bottom:5px;

  }

  .pb-md-6{

    padding-bottom:6px;

  }

  .pb-md-7{

    padding-bottom:7px;

  }

  .pb-md-8{

    padding-bottom:8px;

  }

  .pb-md-9{

    padding-bottom:9px;

  }

  .pb-md-10{

    padding-bottom:10px;

  }

  .pb-md-11{

    padding-bottom:11px;

  }

  .pb-md-12{

    padding-bottom:12px;

  }

  .pb-md-13{

    padding-bottom:13px;

  }

  .pb-md-14{

    padding-bottom:14px;

  }

  .pb-md-15{

    padding-bottom:15px;

  }

  .pr-md-0{

    padding-right:0px;

  }

  .pr-md-1{

    padding-right:1px;

  }

  .pr-md-2{

    padding-right:2px;

  }

  .pr-md-3{

    padding-right:3px;

  }

  .pr-md-4{

    padding-right:4px;

  }

  .pr-md-5{

    padding-right:5px;

  }

  .pr-md-6{

    padding-right:6px;

  }

  .pr-md-7{

    padding-right:7px;

  }

  .pr-md-8{

    padding-right:8px;

  }

  .pr-md-9{

    padding-right:9px;

  }

  .pr-md-10{

    padding-right:10px;

  }

  .pr-md-11{

    padding-right:11px;

  }

  .pr-md-12{

    padding-right:12px;

  }

  .pr-md-13{

    padding-right:13px;

  }

  .pr-md-14{

    padding-right:14px;

  }

  .pr-md-15{

    padding-right:15px;

  }

  /* Margin Başlangıc*/


    .m-md-0{

      margin:0px;

    }

    .m-md-1{

      margin:1px;

    }

    .m-md-2{

      margin:2px;

    }

    .m-md-3{

      margin:3px;

    }

    .m-md-4{

      margin:4px;

    }

    .m-md-5{

      margin:5px;

    }

    .m-md-6{

      margin:6px;

    }

    .m-md-7{

      margin:7px;

    }

    .m-md-8{

      margin:8px;

    }

    .m-md-9{

      margin:9px;

    }

    .m-md-10{

      margin:10px;

    }

    .m-md-11{

      margin:11px;

    }

    .m-md-12{

      margin:12px;

    }

    .m-md-13{

      margin:13px;

    }

    .m-md-14{

      margin:14px;

    }

    .m-md-15{

      margin:15px;

    }

    .ml-md-0{

      margin-left:0px;

    }

    .ml-md-1{

      margin-left:1px;

    }

    .ml-md-2{

      margin-left:2px;

    }

    .ml-md-3{

      margin-left:3px;

    }

    .ml-md-4{

      margin-left:4px;

    }

    .ml-md-5{

      margin-left:5px;

    }

    .ml-md-6{

      margin-left:6px;

    }

    .ml-md-7{

      margin-left:7px;

    }

    .ml-md-8{

      margin-left:8px;

    }

    .ml-md-9{

      margin-left:9px;

    }

    .ml-md-10{

      margin-left:10px;

    }

    .ml-md-11{

      margin-left:11px;

    }

    .ml-md-12{

      margin-left:12px;

    }

    .ml-md-13{

      margin-left:13px;

    }

    .ml-md-14{

      margin-left:14px;

    }

    .ml-md-15{

      margin-left:15px;

    }

    .mt-md-0{

      margin-top:0px;

    }

    .mt-md-1{

      margin-top:1px;

    }

    .mt-md-2{

      margin-top:2px;

    }

    .mt-md-3{

      margin-top:3px;

    }

    .mt-md-4{

      margin-top:4px;

    }

    .mt-md-5{

      margin-top:5px;

    }

    .mt-md-6{

      margin-top:6px;

    }

    .mt-md-7{

      margin-top:7px;

    }

    .mt-md-8{

      margin-top:8px;

    }

    .mt-md-9{

      margin-top:9px;

    }

    .mt-md-10{

      margin-top:10px;

    }

    .mt-md-11{

      margin-top:11px;

    }

    .mt-md-12{

      margin-top:12px;

    }

    .mt-md-13{

      margin-top:13px;

    }

    .mt-md-14{

      margin-top:14px;

    }

    .mt-md-15{

      margin-top:15px;

    }

    .mb-md-0{

      margin-bottom:0px;

    }

    .mb-md-1{

      margin-bottom:1px;

    }

    .mb-md-2{

      margin-bottom:2px;

    }

    .mb-md-3{

      margin-bottom:3px;

    }

    .mb-md-4{

      margin-bottom:4px;

    }

    .mb-md-5{

      margin-bottom:5px;

    }

    .mb-md-6{

      margin-bottom:6px;

    }

    .mb-md-7{

      margin-bottom:7px;

    }

    .mb-md-8{

      margin-bottom:8px;

    }

    .mb-md-9{

      margin-bottom:9px;

    }

    .mb-md-10{

      margin-bottom:10px;

    }

    .mb-md-11{

      margin-bottom:11px;

    }

    .mb-md-12{

      margin-bottom:12px;

    }

    .mb-md-13{

      margin-bottom:13px;

    }

    .mb-md-14{

      margin-bottom:14px;

    }

    .mb-md-15{

      margin-bottom:15px;

    }

    .mr-md-0{

      margin-right:0px;

    }

    .mr-md-1{

      margin-right:1px;

    }

    .mr-md-2{

      margin-right:2px;

    }

    .mr-md-3{

      margin-right:3px;

    }

    .mr-md-4{

      margin-right:4px;

    }

    .mr-md-5{

      margin-right:5px;

    }

    .mr-md-6{

      margin-right:6px;

    }

    .mr-md-7{

      margin-right:7px;

    }

    .mr-md-8{

      margin-right:8px;

    }

    .mr-md-9{

      margin-right:9px;

    }

    .mr-md-10{

      margin-right:10px;

    }

    .mr-md-11{

      margin-right:11px;

    }

    .mr-md-12{

      margin-right:12px;

    }

    .mr-md-13{

      margin-right:13px;

    }

    .mr-md-14{

      margin-right:14px;

    }

    .mr-md-15{

      margin-right:15px;

    }

}

@media (min-width: 1200px) {


  .text-lg-center{

    text-align: center;

  }

  .text-lg-left{

    text-align: left;

  }

  .text-lg-right{

    text-align: right;

  }

  .p-lg-0{

    padding:0px;

  }

  .p-lg-1{

    padding:1px;

  }

  .p-lg-2{

    padding:2px;

  }

  .p-lg-3{

    padding:3px;

  }

  .p-lg-4{

    padding:4px;

  }

  .p-lg-5{

    padding:5px;

  }

  .p-lg-6{

    padding:6px;

  }

  .p-lg-7{

    padding:7px;

  }

  .p-lg-8{

    padding:8px;

  }

  .p-lg-9{

    padding:9px;

  }

  .p-lg-10{

    padding:10px;

  }

  .p-lg-11{

    padding:11px;

  }

  .p-lg-12{

    padding:12px;

  }

  .p-lg-13{

    padding:13px;

  }

  .p-lg-14{

    padding:14px;

  }

  .p-lg-15{

    padding:15px;

  }

  .pl-lg-0{

    padding-left:0px;

  }

  .pl-lg-1{

    padding-left:1px;

  }

  .pl-lg-2{

    padding-left:2px;

  }

  .pl-lg-3{

    padding-left:3px;

  }

  .pl-lg-4{

    padding-left:4px;

  }

  .pl-lg-5{

    padding-left:5px;

  }

  .pl-lg-6{

    padding-left:6px;

  }

  .pl-lg-7{

    padding-left:7px;

  }

  .pl-lg-8{

    padding-left:8px;

  }

  .pl-lg-9{

    padding-left:9px;

  }

  .pl-lg-10{

    padding-left:10px;

  }

  .pl-lg-11{

    padding-left:11px;

  }

  .pl-lg-12{

    padding-left:12px;

  }

  .pl-lg-13{

    padding-left:13px;

  }

  .pl-lg-14{

    padding-left:14px;

  }

  .pl-lg-15{

    padding-left:15px;

  }

  .pt-lg-0{

    padding-top:0px;

  }

  .pt-lg-1{

    padding-top:1px;

  }

  .pt-lg-2{

    padding-top:2px;

  }

  .pt-lg-3{

    padding-top:3px;

  }

  .pt-lg-4{

    padding-top:4px;

  }

  .pt-lg-5{

    padding-top:5px;

  }

  .pt-lg-6{

    padding-top:6px;

  }

  .pt-lg-7{

    padding-top:7px;

  }

  .pt-lg-8{

    padding-top:8px;

  }

  .pt-lg-9{

    padding-top:9px;

  }

  .pt-lg-10{

    padding-top:10px;

  }

  .pt-lg-11{

    padding-top:11px;

  }

  .pt-lg-12{

    padding-top:12px;

  }

  .pt-lg-13{

    padding-top:13px;

  }

  .pt-lg-14{

    padding-top:14px;

  }

  .pt-lg-15{

    padding-top:15px;

  }

  .pb-lg-0{

    padding-bottom:0px;

  }

  .pb-lg-1{

    padding-bottom:1px;

  }

  .pb-lg-2{

    padding-bottom:2px;

  }

  .pb-lg-3{

    padding-bottom:3px;

  }

  .pb-lg-4{

    padding-bottom:4px;

  }

  .pb-lg-5{

    padding-bottom:5px;

  }

  .pb-lg-6{

    padding-bottom:6px;

  }

  .pb-lg-7{

    padding-bottom:7px;

  }

  .pb-lg-8{

    padding-bottom:8px;

  }

  .pb-lg-9{

    padding-bottom:9px;

  }

  .pb-lg-10{

    padding-bottom:10px;

  }

  .pb-lg-11{

    padding-bottom:11px;

  }

  .pb-lg-12{

    padding-bottom:12px;

  }

  .pb-lg-13{

    padding-bottom:13px;

  }

  .pb-lg-14{

    padding-bottom:14px;

  }

  .pb-lg-15{

    padding-bottom:15px;

  }

  .pr-lg-0{

    padding-right:0px;

  }

  .pr-lg-1{

    padding-right:1px;

  }

  .pr-lg-2{

    padding-right:2px;

  }

  .pr-lg-3{

    padding-right:3px;

  }

  .pr-lg-4{

    padding-right:4px;

  }

  .pr-lg-5{

    padding-right:5px;

  }

  .pr-lg-6{

    padding-right:6px;

  }

  .pr-lg-7{

    padding-right:7px;

  }

  .pr-lg-8{

    padding-right:8px;

  }

  .pr-lg-9{

    padding-right:9px;

  }

  .pr-lg-10{

    padding-right:10px;

  }

  .pr-lg-11{

    padding-right:11px;

  }

  .pr-lg-12{

    padding-right:12px;

  }

  .pr-lg-13{

    padding-right:13px;

  }

  .pr-lg-14{

    padding-right:14px;

  }

  .pr-lg-15{

    padding-right:15px;

  }

  /* Margin Başlangıc*/


    .m-lg-0{

      margin:0px;

    }

    .m-lg-1{

      margin:1px;

    }

    .m-lg-2{

      margin:2px;

    }

    .m-lg-3{

      margin:3px;

    }

    .m-lg-4{

      margin:4px;

    }

    .m-lg-5{

      margin:5px;

    }

    .m-lg-6{

      margin:6px;

    }

    .m-lg-7{

      margin:7px;

    }

    .m-lg-8{

      margin:8px;

    }

    .m-lg-9{

      margin:9px;

    }

    .m-lg-10{

      margin:10px;

    }

    .m-lg-11{

      margin:11px;

    }

    .m-lg-12{

      margin:12px;

    }

    .m-lg-13{

      margin:13px;

    }

    .m-lg-14{

      margin:14px;

    }

    .m-lg-15{

      margin:15px;

    }

    .ml-lg-0{

      margin-left:0px;

    }

    .ml-lg-1{

      margin-left:1px;

    }

    .ml-lg-2{

      margin-left:2px;

    }

    .ml-lg-3{

      margin-left:3px;

    }

    .ml-lg-4{

      margin-left:4px;

    }

    .ml-lg-5{

      margin-left:5px;

    }

    .ml-lg-6{

      margin-left:6px;

    }

    .ml-lg-7{

      margin-left:7px;

    }

    .ml-lg-8{

      margin-left:8px;

    }

    .ml-lg-9{

      margin-left:9px;

    }

    .ml-lg-10{

      margin-left:10px;

    }

    .ml-lg-11{

      margin-left:11px;

    }

    .ml-lg-12{

      margin-left:12px;

    }

    .ml-lg-13{

      margin-left:13px;

    }

    .ml-lg-14{

      margin-left:14px;

    }

    .ml-lg-15{

      margin-left:15px;

    }

    .mt-lg-0{

      margin-top:0px;

    }

    .mt-lg-1{

      margin-top:1px;

    }

    .mt-lg-2{

      margin-top:2px;

    }

    .mt-lg-3{

      margin-top:3px;

    }

    .mt-lg-4{

      margin-top:4px;

    }

    .mt-lg-5{

      margin-top:5px;

    }

    .mt-lg-6{

      margin-top:6px;

    }

    .mt-lg-7{

      margin-top:7px;

    }

    .mt-lg-8{

      margin-top:8px;

    }

    .mt-lg-9{

      margin-top:9px;

    }

    .mt-lg-10{

      margin-top:10px;

    }

    .mt-lg-11{

      margin-top:11px;

    }

    .mt-lg-12{

      margin-top:12px;

    }

    .mt-lg-13{

      margin-top:13px;

    }

    .mt-lg-14{

      margin-top:14px;

    }

    .mt-lg-15{

      margin-top:15px;

    }

    .mb-lg-0{

      margin-bottom:0px;

    }

    .mb-lg-1{

      margin-bottom:1px;

    }

    .mb-lg-2{

      margin-bottom:2px;

    }

    .mb-lg-3{

      margin-bottom:3px;

    }

    .mb-lg-4{

      margin-bottom:4px;

    }

    .mb-lg-5{

      margin-bottom:5px;

    }

    .mb-lg-6{

      margin-bottom:6px;

    }

    .mb-lg-7{

      margin-bottom:7px;

    }

    .mb-lg-8{

      margin-bottom:8px;

    }

    .mb-lg-9{

      margin-bottom:9px;

    }

    .mb-lg-10{

      margin-bottom:10px;

    }

    .mb-lg-11{

      margin-bottom:11px;

    }

    .mb-lg-12{

      margin-bottom:12px;

    }

    .mb-lg-13{

      margin-bottom:13px;

    }

    .mb-lg-14{

      margin-bottom:14px;

    }

    .mb-lg-15{

      margin-bottom:15px;

    }

    .mr-lg-0{

      margin-right:0px;

    }

    .mr-lg-1{

      margin-right:1px;

    }

    .mr-lg-2{

      margin-right:2px;

    }

    .mr-lg-3{

      margin-right:3px;

    }

    .mr-lg-4{

      margin-right:4px;

    }

    .mr-lg-5{

      margin-right:5px;

    }

    .mr-lg-6{

      margin-right:6px;

    }

    .mr-lg-7{

      margin-right:7px;

    }

    .mr-lg-8{

      margin-right:8px;

    }

    .mr-lg-9{

      margin-right:9px;

    }

    .mr-lg-10{

      margin-right:10px;

    }

    .mr-lg-11{

      margin-right:11px;

    }

    .mr-lg-12{

      margin-right:12px;

    }

    .mr-lg-13{

      margin-right:13px;

    }

    .mr-lg-14{

      margin-right:14px;

    }

    .mr-lg-15{

      margin-right:15px;

    }


}
