/* Made by : Selim GORMUS */
.sbx-starter {
    margin-top:7rem;
}
body {
    font-family:'Rajdhani', sans-serif;
}

.nav-item a {
    text-transform: uppercase;
}
.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}
.dropdown-menu a {
    text-transform: capitalize;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
}