p {
    font-size: 14px;
}
body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1rem;
}

.nav-link {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-link:hover {
    background-color:#dc3545 !important;
    color:white !important;
    
}

.nav-link:active {
    background-color:#dc3545 !important;
    color:white !important;
    
}

.nav-item.show a { 
  background-color: #dc3545;
  color:white !important;
}

.dropdown-menu a.dropdown-item {
    background: transparent;
    color: #313131 !important;
}


#homepage #header {
    position: fixed !important;
    height: 100px !important;
    display: block !important;
    width: 100% !important;
    background: #fff !important;
    z-index: 1041 !important;
    /*text-align: center !important;*/
    color: #000 !important;
    padding: 5px 0 0 0 !important;
}
footer {
    background-color: #f5f5f5;
}
div.haberlistesi h5 {
    font-weight: bold;
    color: #1c3f95;
    min-height: 61px;
}
div.haberlistesi img {
    height: auto;
}
div.haberlistesi div.boxy {
    margin-bottom: 20px;
}

.grupsirket {
	min-height: 320px;
}
[data-slide="prev"] {
    margin-right: 10px;
}
.grpmarka {
	color: #000;
	font-size: 14px;
	font-weight: 700;
}
.btn-default.active, .btn-default:active {
	color: #333;
    background-color: transparent;
    border-color: #adadad;
}


#footer {
    position: fixed;
    height: 75px;
    display: block;
    width: 100%;
    background: #fff;
    z-index: 1041;
    text-align: center;
    color: #000;
    padding: 20px 0 0 0;
}
#header {
    top: 0px;
}
#footer {
    bottom: 0px;
}
#infoMenu {
    bottom: 80px;
}
#infoMenu li a {
    color: #fff;
    z-index: 999;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}
#sbxmenu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#sbxmenu.navbar-default {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 0px;
    border-radius: 0px;
}
#sbxmenu.navbar-default .navbar-nav>li>a {
    color: rgba(28, 63, 149, 1);
    background-color: rgba(255, 255, 255, 1);
    font-weight: 700;
}
#sbxmenu.navbar-default .navbar-nav>li>a:hover,
#sbxmenu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(28, 63, 149, 1);
}
#sbxmenu.navbar-default .navbar-nav>.active>a,
#sbxmenu.navbar-default .navbar-nav>.active>a:hover,
#sbxmenu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(28, 63, 149, 1);
}
#sbxmenu.navbar-default .navbar-toggle {
    border-color: #1c3f95;
}
#sbxmenu.navbar-default .navbar-toggle:hover,
#sbxmenu.navbar-default .navbar-toggle:focus {
    background-color: #1c3f95;
}
#sbxmenu.navbar-default .navbar-toggle .icon-bar {
    background-color: #1c3f95;
}
#sbxmenu.navbar-default .navbar-toggle:hover .icon-bar,
#sbxmenu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}
.dropbtn {
    background-color: #fff;
    color: rgba(28, 63, 149, 1);
    padding: 0px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.aside-menu {
    border-color: #1c3f95 solid 2px;
    background-color: #1c3f95;
    color: white !important;
    margin-bottom: 5px;
}

.yanmenu {
	background-color: #1c3f95;
    color: white;
	margin-bottom: 5px;
}

.yan {
    list-style: none;
    padding-left:.25rem;
    margin:5px;
}
.yan>li>a {
    color: #212529 !important;
    text-decoration: none;
}

.yan>li>a:hover {
    background-color: #DC3545 !important;
    color: #f1f1f1 !important;
    display:blok;
    text-decoration: none;
}

a:focus, a:hover {
    color: #DC3545;
    text-decoration: none;
}

.section {
    background-size: cover;
}

.carousel-inner img {
      width: 100%;
      /* height: 100%;   resim responsive olmadı */  
}

.slide {
    background-size: cover;
}
.slider {
    text-align: center;
    color: #fff !important;
    font-weight: 700;
    text-shadow: 1px -1px 11px rgb(0, 0, 0);
}


#slide1 {
    background-image: url(../media/slide/s3.png);
    padding: 6% 0 0 0;
}
#slide2 {
    background-image: url(../media/slide/s3.png);
    padding: 6% 0 0 0;
}
#section1 {
    background-image: url(../media/bg/demo.jpg);
    padding: 6% 0 0 0;
	background-position: top center;
	background-size: cover;
}
#section2 {
    background-image: url(../media/bg/demo.jpg);
    padding: 6% 0 0 0;
}
#section3 {
    background-image: url(../media/bg/demo.jpg);
    padding: 6% 0 0 0;
}
#section4 {
    background-image: url(../media/bg/demo.jpg);
    padding: 6% 0 0 0;
}
#section5 {
    background-image: url(../media/bg/demo.jpg);
    padding: 6% 0 0 0;
}
#section6 {
    background-image: url(../media/bg/demo.jpg);
    padding: 6% 0 0 0;
}

#sectionyuvarlak {
    background-image: url(../media/slide/s3.png);
	    background-size: cover;
}
.fp-controlArrow.fp-prev {
    left: 50px !important;
}
.fp-controlArrow.fp-next {
    right: 50px !important;
}
.btnincele {
    color: #ffffff;
    font-size: 20px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    border: solid #e8e8e8 1px;
    text-decoration: none;
}
.btnincele:hover {
    color: #313131 !important;
    background: #f1f1f1;
    text-decoration: none;
}
.btnincele:active {
    background: #f1f1f1;
    color: #313131;
    text-decoration: none;
}
.btnincele:focus {
    background: transparent;
    color: #fff;
    text-decoration: none;
}
.btnincele:visited {
    background: transparent;
    color: #fff;
    text-decoration: none;
}
.btnstd {
    color: #143d8d;
    font-size: 20px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    border: solid #143d8d 1px;
    text-decoration: none;
}

.btnstd { 
    color: #fff;
    font-size: 20px; 
    background: #0a65a1;
    padding: 10px 20px 10px 20px;
    border: solid #0a65a1 1px;
    text-decoration: none;
}
.btnstd:hover {
    background: #0a65a1;
    color: #fff;
    text-decoration: none;
}
.btnstd:active {
    background: #0a65a1;
    color: #fff;
    text-decoration: none;
}
.btnstd:focus {
    background: #0a65a1;
    color: #fff;
    text-decoration: none;
}
.btnstd:visited {
    background: #0a65a1;
    color: #fff;
    text-decoration: none;
}

.btnuglobal { 
    color: #fff;
    font-size: 20px; 
    background: transparent;
    padding: 10px 20px 10px 20px;
    border: solid #fff 1px;
    text-decoration: none;
}
.btnuglobal:hover {
    background: transparent;
    color: #fff;
    text-decoration: none;
}
.btnuglobal:active {
    background: transparent;
    color: #fff;
    text-decoration: none;
}
.btnuglobal:focus {
    background: transparent;
    color: #fff;
    text-decoration: none;
}
.btnuglobal:visited {
    background: transparent;
    color: #fff;
    text-decoration: none;
}
button {
    display: block;
    /* margin: 5% auto 0; */ /* butonlarda marjin ne alakaysa, kaldırdım.*/
    background: transparent;
    border: 1px solid #1c3f95;
    padding: 5px 10px;
}
button.md-close {
    margin-top: 20px;
    margin-bottom: 0px;
    top: 0px;
    margin-right: 0px;
}
.md-modal {
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.md-show {
    visibility: visible;
}
.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(228, 240, 227, 0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.md-show ~ .md-overlay {
    opacity: 0.9;
    visibility: visible;
}
.arabul {width: 100% !important;}

.md-effect-12 .md-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.md-show.md-effect-12 ~ .md-overlay {
background: rgba(0, 0, 0, 0.22);
    transform: translate(0, 0);
    background-image: -webkit-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
    background-image: -moz-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
    background-image: -o-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
    background-image: linear-gradient(to top right, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}
.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
    background: transparent;
    color:#fff;
}
.md-show.md-effect-12 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.search-block {
    position: relative;
    width: 100%;
    background-color: #fff;
    margin: 10px auto 0px auto;
}
.txt {
    box-sizing: border-box;
    padding: 10px 35px 10px 10px;
    color: rgb(100, 100, 100);
    outline: 0;
    width: 250px;
    border: 0px solid rgb(100, 100, 100);
}
input[placeholder][class="txt"] {
    color: #000;
}
.txt:focus {
    border: 0px solid #ddd;
}
.bttn {
    padding: 0px;
    color: #1c3f95;
    border: none;
    outline: 0;
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: -20px;
}
.i {
    min-width: 20px;
    color: #1c3f95 !important;
}
.iclose {
    color: #fff;
    background-color: #a94442;
    border-color: #a94442;
}

.boxed {
  background-color: rgba(233, 233, 233, 0.8);
  padding: 15px;
}
.boxedueg {
  background-color: rgba(233, 233, 233, 0.8);
  padding: 15px;
}

.yazibaslik {
	font-size: 24px !important;
	color: #363636 !important;
	font-weight:700 !important;
}
.yazimetin {
	font-size: 14px !important;
	color: #333333 !important;
}


.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: none;
}
.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: left !important;
    -webkit-tap-highlight-color: transparent;
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-caption {
	padding-bottom: 130px !important;
}


.baslikfooter {
	 font-width: 700;
}
.socialButtons {
    height: 25px;
    line-height: 25px;
}
.socialButtons a {
    text-decoration: none;
    color: #ffffff;
    float: left;
    width: 25px;
    height: 25px;
    border: 1px solid #ffffff;
    margin-left: 5px;
    line-height: 25px;
    display: block;
    text-align: center;
    background-color: #1c3f95;
}
.socialButtons a:hover {
    text-decoration: none;
    color: #1c3f95;
    float: left;
    width: 25px;
    height: 25px;
    border: 1px solid #1c3f95;
    margin-left: 5px;
    line-height: 25px;
    display: block;
    text-align: center;
    background-color: #fff;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #1c3f95; 
}
.nav>li>a:hover {
    background-color: #1c3f95;
    color: white;
}
@media (max-width: 768px) {
	#fp-nav.right {    
    right: -6px !important;
}
	.carousel-caption {
	padding-bottom: 100px !important;
}
.mobilslider {
	font-size: 22px !important;
}
.bttn {
    padding: 0px;
    color: #1c3f95;
    border: none;
    outline: 0;
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: -5px;
}
footer {
    padding: 30px 0px 0px 0px;
}
.mobillogo {
	height: 50px !important;
	margin-top: 5px;
}
#homepage #header {
    height: 60px !important;
}
.ugurbaslik {
	font-size: 20px !important;
	color: #363636 !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
.uguryazi {
	font-size: 13px !important;
	color: #333333 !important;
}
.umabaslik {
	font-size: 18px !important;
	color: #363636 !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
.umayazi {
	font-size: 13px !important;
	color: #333333 !important;
}
.deltabaslik {
	font-size: 18px !important;
	color: #363636 !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
.deltayazi {
	font-size: 13px !important;
	color: #333333 !important;
}
.kuteksbaslik {
	font-size: 18px !important;
	color: #363636 !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
.kuteksyazi {
	font-size: 13px !important;
	color: #333333 !important;
}
.uegbaslik {
	font-size: 18px !important;
	color: #363636 !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
.uegyazi {
	font-size: 13px !important;
	color: #333333 !important;
}
.usgbaslik {
	font-size: 18px !important;
	color: #ffffff !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
.uglobalyazi {
	font-size: 13px !important;
	color: #fff !important;
}
.uglobalbaslik {
	font-size: 18px !important;
	color: #fff !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
.usgyazi {
	font-size: 13px !important;
	color: #ffffff !important;
}
.btnueg {
    font-size: 16px !important;
    padding: 6px 12px 6px 12px !important;
}
.btnusgs {
    font-size: 16px !important;
    padding: 6px 12px 6px 12px !important;
}
.btnuglobal {
    font-size: 16px !important;
    padding: 6px 12px 6px 12px !important;
}
.medyagorsel {
    height: 60px !important;
    min-height: 120px !important;
}
.medyagorseller {
    height: 60px !important;
} 
}
@media (max-width: 340px) {
	div.boxed img.loadAfter {
		max-height: 50px;
	}
}


#socialarea {
  position: fixed;
  left: 0;
  top: 30%;
  width: 40px;
  z-index: 9999;
}

#socialarea:hover {
  cursor: pointer;
}

#socialarea ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#socialarea li {
  text-align: center;
  width: 100%;
}

#socialarea li a {
  line-height: 30px;
  color: white;
}

#socialarea .facebook_social {
  background-color: #3a579a;
  transition: 400ms;
}

#socialarea .facebook_social:hover {
  background-color: #2b4071;
}

#socialarea .twitter_social {
  background-color: #00abf0;
  transition: 400ms;
}

#socialarea .twitter_social:hover {
  background-color: #0184b9;
}

#socialarea .googleplus_social {
  background-color: #df4a32;
  transition: 400ms;
}

#socialarea .googleplus_social:hover {
  background-color: #bc3e2a;
}

#socialarea .pinterest_social {
  background-color: #cd1c1f;
  transition: 400ms;
}
#socialarea .instagram_social {
  background-color: #f74f01;
}
#socialarea .instagram_social:hover {
  background-color: #ef5006;
}

#socialarea .pinterest_social:hover {
  background-color: #b0171a;
}

#socialarea .linkedin_social {
  background-color: #127bb6;
  transition: 400ms;
}

#socialarea .linkedin_social:hover {
  background-color: #0c5680;
}

.arrow_social {
  opacity: 0;
  color: white;
  transition: 400ms;
}

.arrow_social:hover {
  color: white;
}

.btnopenclose {
  background-color: rgba(0, 0, 0, 0.6);
  width: 20px !important;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  opacity: 0;
  transition: 400ms;
}

#socialarea:hover .arrow_social,
#socialarea:hover .btnopenclose {
  opacity: 1;
}

.remove {
  left: -35px !important;
  position: relative;
  transition: 400ms;
}

.as_selected {
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(180deg);
  opacity: 1;
  margin: initial;
}

.as_selected .arrow_social {
  opacity: 1;
  left: 0px;
  position: relative;
  color: white;
}

.btn {
	margin-top:5px;
}

.breadcrumb {
    background-color: #f1f1f1;
}

@media (max-width:960px) { 

    .container { 
        width: 100% !important;
    } 

}